
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }
    to {
        transform: translateY(0%);
        opacity: 100%;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
